.profileContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 1152px;
  height: 142px;
  //border: 3px solid red;
  position: relative;

  .shareIconContaine {
    position: absolute;
    top: 70;
  }
}
