.profileContainer {
  position: relative;
  gap: 24px;
  isolation: isolate;
  width: 1152px;
  height: 142px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  //margin-top: 20px;

  .profileItems {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
      width: 88px;
      height: 88px;
      border-radius: 50px;
    }
    h3 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      color: #101828;
      margin: 0;
    }
  }
  .avatarShare {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 208px;
    top: -20px;
    background: #ffffff;
    border: 1px dashed #d0d5dd;
    border-radius: 20px;
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
